
@import "./cotton_candy.bundle.css";
@import "./cherry.bundle.css";
@import "./apricot.bundle.css";
@import "./watermelon.bundle.css";

.app-logo{
    min-height: 55px !important;
    width: auto !important;
}